.error-content {
  position: fixed;
  top: 15px;
  right: 20px;
  border: 2px solid red;
  background-color: lightsalmon;
}

.error-content p {
  margin-top: 1px;
  padding: 7px;
}

.error-content button {
  font-size: 6pt;
  background-color: red;
  color: white;
  position: relative;
  left: 80%;
}