* { 
  box-sizing: border-box; 
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: bisque; 
}

.data-entry-section, .detail-entry-section{
  padding-top: 30px; 
  padding-left: 30px; 
  float: left; 
  width: 70%; 
}

.navHead { 
  display: inline-block; 
  padding-left: 20px; 
}

.input-group > label { 
  margin-top: 10px; 
  display: block;
}

.input-group > input { 
  margin-top: 10px; 
  display: block;
}

.js-item-element{ 
  border: 2px solid black; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 10px; 
}

ul {
  list-style: none;
}

.items-column {
  background-color: grey; 
  float: left; 
  height : 100vh;
  width: 30%;  
}

li:hover, .js-navHead:hover, #delete:hover, #js-visit-page:hover{
  background-color: yellow; 
}

.radio { 
  float: left; 
  margin-right: 20px; 

}

.add-item { 
  clear: left; 
  display: block; 
}

.detail-entry-section em, .title-lable{
  border: 3px solid grey;  
  font-size: 20px; 
  font-weight: bold; 
}


@media only screen and (max-width: 640px) {
  .data-entry-section, .detail-entry-section{ 
    width: 100%;
    height: auto;  
    float : none; 
  }

  .items-column{ 
    width: 100%; 
    height: auto; 
    float : none; 
  }

  .js-navHead{
    background-color: whitesmoke; 
    height: 30px; 
  }
}
