* { 
  box-sizing: border-box; 
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: bisque; 
}

.data-entry-section, .detail-entry-section{
  padding-top: 30px; 
  text-align: top; 
  padding-left: 30px; 
  float: left; 
  width: 70%; 
}

.navHead { 
  display: inline-block; 
  padding-left: 20px; 
  padding-right: 20px; 
}

.input-group > label { 
  margin-top: 10px; 
  display: block;
}

.input-group > input { 
  margin-top: 10px; 
  display: block;
}

.js-item-element{ 
  border: 2px solid black; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 10px; 
}

ul {
  list-style: none;
}

#js-bookmark-list{ 
  padding-left: 0px; 
  margin: 0px; 
}



.items-column {
  background-color: grey; 
  float: left; 
  height : 100vh;
  width: 30%;  
}

.heading-container{ 
  display: flex; 
  flex-direction: column; 
}

.navHead-container{ 
  display: flex; 
  justify-content: space-between;
}

li:hover, .js-navHead:hover, #delete:hover, #js-visit-page:hover{
  background-color: yellow; 
}

.navHead-container h1{ 
  margin: 0px; 
}

.radio { 

  float: left; 
  margin-right: 20px; 
}

.add-item { 
  clear: left; 
  display: block; 
}

.detail-entry-section em, .title-lable{
  border: 3px solid grey;  
  font-size: 20px; 
  font-weight: bold; 
}

.add-sort button{ 
  display: inline-block;  
}

.js-navHead{ 
  height: 50%; 
  width: 100%; 
}

.dropdown, .dropbtn { 
  width: 100%; 

}
#bookmark-description{ 
  margin-bottom: 20px; 
  float: left; 
  margin-right : 500px; 

}
.dropdown { 
  height: 50%; 
}

.dropbtn { 
  height: 100%; 
}
.navHead-container{ 
  background-color:darkgrey; 
}

.checked {
  color: orange;
}

@media only screen and (max-width: 640px) {
  .data-entry-section, .detail-entry-section{ 
    width: 100%;
    height: auto;  
    float : none; 
  }

  .items-column{ 
    width: 100%; 
    height: auto; 
    float : none; 
  }
}
