* { 
  box-sizing: border-box; 
}

body {
  font-family: 'Roboto', sans-serif;
}

.data-entry-section{
  padding-top: 30px; 
  padding-left: 30px; 
  float: left; 
  width: 70%; 
  height : 100%; 
}
.detail-entry-section{
  padding-top: 30px; 
  padding-left: 30px; 
  float: left; 
  width: 70%; 
  height : 100%; 
}

.navHead { 
  display: inline-block; 
}

.input-group > label { 
  margin-top: 10px; 
  display: block;
}

.input-group > input { 
  margin-top: 10px; 
  display: block;
}

.input-group > button { 
  margin-top: 10px; 
  margin-right: 50px; 
  display: inline-block;
}

.items-column {
  background-color: grey; 
  float: left; 
  height : 100%;
  width: 30%;  
}

li:hover {
  background-color: yellow; 
}

.radio { 
  float: left; 
  margin-right: 20px; 
}

.add-item { 
  display: block; 
}
